{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}" />
</head>
<body>
	<section>
		<div class="color"></div>
		<div class="color"></div>
		<div class="color"></div>
		<div class="box">
			 <div class="container">
			 	<div class="form">
			 		<h2>Recuperar contraseña</h2>
			 		<form >
			 			<div class="inputBox">
			 				<input type="text" placeholder="Correo electrónico"/>
			 			</div>
			 			<div class="inputBox">
			 				<input type="submit" value="Enviar" />
			 			</div>
			 			<p class="forget">
			 				Ya tienes una cuenta? <a href="/login">Iniciar sesión</a>
			 			</p>
			 		</form>
			 	</div>
			 </div>
		</div>
	</section>
</body>
</html>