{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Recuperar contraseña</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}" />
    
</head>
<body>
    <div class="container">
        <h2>Recuperar contraseña</h2>
        <form>
            <label id="labelemail-forgot" for="email">Correo electrónico:</label>
            <input id="inputemail-forgot" type="email" id="email" name="email" required>
            <button id="buttonemail-forgot" type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
