{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}" />
</head>
<body>
	<section class="form-section">
		<div class="color"></div>
		<div class="color"></div>
		<div class="color"></div>
		<div class="box">
			 <div class="container">
			 	<div class="form">
			 		<h2>Recuperar contraseña</h2>
			 		<!-- <form id="forgotPasswordForm"> -->
					<form id="forgotPasswordForm" action="{% url 'forgotpassword' %}" method="POST">
						{% csrf_token %}

			 			<div class="inputBox">
			 				<input type="email" id="email" name="email" placeholder="Correo electrónico"/>
			 			</div>
			 			<div class="inputBox">
			 				<input type="submit" value="Enviar" />
			 			</div>
			 			<p class="forget"> Ya tienes una cuenta? <a href="/login">Iniciar sesión</a> </p>
			 		</form>
			 	</div>
			 </div>
		</div>
	</section>

	<script>
		// Change form and input properties
		const form = document.getElementById('forgotPasswordForm');
		const mainInput = document.getElementById('email');
		

		form.addEventListener('submit', (event) => {
			event.preventDefault();
			// Add your custom logic here
			// For example, you can validate the email input before submitting the form
			if (mainInput.value === '') {
				alert('Please enter your email address');
			} else if (mainInput.placeholder === 'Correo electrónico') {
				form.submit();
				mainInput.placeholder = 'Codigo de seis digitos';
				mainInput.type = 'number';
				form.action = "{% url 'forgotresetcode' %}";
				form.setAttribute('method', 'PUT')

			} else {
				form.submit();
			}
		});
	</script>
	
</body>
</html>