{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>Inicio</title>
</head>
<body>
    
    <div class="head">
        <div class="logo">
            <img src="{% static 'logo2.png' %}"  id="image">
        </div>
        
        <nav class="navbar">
            <a href="#home">Inicio</a>
            
            <a href="#about">Nosotros</a>
            <a href="#contact">Contacto</a>
        </nav>

    </div>

    <header class="content header">
        <h2 class="title" id="home">Inicio</h2>
        <p>
            Esta es una aplicación para la gestión de información en la empresa de consultoría ambiental SICMA consultores.
        </p>

        <div class="btn-home">
            <a class="btn" href="{% url 'login' %}">Ingresar</a>
            <a href="https://www.sicmamx.com/" class="btn">Ir a SICMA</a>
        </div>
    </header>

    

    <section class="content about">

        <h2 class="title">Nosotros</h2>
        <p>
            Somos profesionales expertos en legislación. Los líderes de la empresa tienen más de 16 años de experiencia en proyectos. 
            Nuestros equipo de trabajo especializado tiene un amplio conocimiento de la legislación 
            en toda la República Mexicana. 
        </p>
        

        <a href="https://www.sicmamx.com/index.php/sobre-nosotros" class="btn">Saber más</a>

    </section>

    <section class="content contact">
        <footer class="pie-pagina">
            <div class="contact-title">
                <h2 class="title" id="contact">Contacto</h2>
            </div>
            <div class="grupo-1">
             <div class="box">
                    <figure>
                        <a href="#">
                            <img src="{% static 'logo2.png' %}" alt="Logo de SLee Dw">
                        </a>
                    </figure>
                </div>
                <div class="box" id="about">
                    <p>55 5250 1583</p>
                    <p>55 5250 1585</p>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2021 <b>SICMA</b> - Todos los Derechos Reservados.</small>
            </div>
        </footer>

    </section>

</body>

</html>
