{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Primera plantilla</title>
</head>
<body>
    <main>

        <div id="top-container">
            <div id="registerheader">
                <img src="{% static 'logo2.png' %}" id="image">
            </div>
            <div id="welcome">
                <h3 id="estamos">¡Bienvenido a SICMA!</h3>
            </div>
    
            <div id="registerbody">
                
                <div id="form-container">
                    <div id="form-title">
                        <h3 id="register">Registro</h3>
                    </div>
                    
                    <form >
                        <div class="datadiv">
                            <label for="email">Correo electrónico</label>
                            <input id='email' type="text">
                        </div>
                        <div class="datadiv">
                            <label for="password">Contraseña</label>
                            <input id='password' type="text">

                            <div id="rememberdiv">
                                <input id='remember' type="checkbox">
                                <label for="remember">Guardar información</label>
                            </div>
                        </div>

                        <div id="form-buttom">
                            <button id="formbtn">Iniciar sesión</button>
                            <a id="aforgot" href="{% url 'forgotpassword' %}">¿Olvidaste tu contraseña?</a>
                        </div>
                    </form>
                </div>
                <div id="foother">
                   <button class="lastbtn">Crear nueva cuenta</button>
                </div>
            </div>

        </div>
    </main>
</body>
</html>