{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
	<section>
		<div class="principal">
			<img src="{% static 'logo2.png' %}" id="image">
		</div>
		<div class="box">
            <div class="container">
				<div class="form">
                    <h2>¡Bienvenido a SICMA!</h2>
			 		<h2>Iniciar Sesión</h2>
			 		<form >
			 			<div class="inputBox">
			 				<input type="text" placeholder="Correo electronico"/>
			 			</div>
			 			<div class="inputBox">
			 				<input type="password" placeholder="Contraseña"/>
			 			</div>
			 			<div class="inputBox">
			 				<input type="submit" value="Iniciar sesion" />
			 			</div>
			 			<p class="forget">
			 				Has olvidado tu contraseña? <a href="recuperar.html">Recuperar contraseña</a>
			 			</p>
			 			<p class="forget">
			 				No tienes una cuenta? <a href="registrarse.html">Crear Cuenta</a>
			 			</p>
			 		</form>
			 	</div>
			 </div>
		</div>
	</section>
</body>
</html>