{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body class="contenido">
	<section class="form-section">
		<div class="principal">
			<img src="{% static 'logo2.png' %}" id="image">
		</div>
		<h2 id="bienvenido-text">¡Bienvenido a SICMA!</h2>

		<div class="box">
            <div class="container">
				
				<div class="form">
					<h2>Iniciar Sesión</h2>
			 		<form action="{% url 'login' %}" method="post">
			 			{% csrf_token %}
			 			<div class="inputBox">
			 				<input type="email" name="email" id="email" placeholder="Correo electronico"/>
			 			</div>
			 			<div class="inputBox">
			 				<input type="password" name="password" id="password" placeholder="Contraseña"/>
			 			</div>
			 			<div class="inputBox">
			 				<input type="submit" name="submit" value="Iniciar sesion" />
			 			</div>
			 			<p class="forget">
			 				¿Has olvidado tu contraseña? <a href="{% url 'forgotpassword' %}">Recuperar contraseña</a>
			 			</p>
			 			<p class="forget">
			 				¿No tienes una cuenta? <a href="{% url 'signup' %}">Crear Cuenta</a>
			 			</p>
			 		</form>
			 	</div>
			 </div>
		</div>
	</section>
</body>
</html>