{% load static %}
<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/vistaprueba.css' %}" />
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>Prueba</title>
    <!-- Enlaces a hojas de estilo CSS o scripts JavaScript van aquí -->
</head>

<body>
    <div class="contenedor_principal">

        <div class="contenedor_uno">
            
        </div>
        <br>
        <div class="contenedor_dos">
            <h2 class="title" id="products">Productos</h2>
       </div>

    </div>
</body>

</html>