{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}" />
</head>
<body>
	<section class="form-section">
		<div class="color"></div>
		<div class="color"></div>
		<div class="color"></div>
		<div class="box">
			 <div class="container">
			 	<div class="form">
			 		<h2>Recuperar contraseña</h2>
			 		<!-- <form id="forgotPasswordForm"> -->
					<form id="forgotPasswordForm" action="{% url 'forgotresetcode' pk=0 %}" method="POST">
						{% csrf_token %}

			 			<div class="inputBox">
			 				<input type="number" id="resetcode" name="resetcode" placeholder="Numero de recuperacion"/>
			 			</div>
			 			<div class="inputBox">
			 				<input type="submit" value="Enviar" />
			 			</div>
			 			<p class="forget"> Ya tienes una cuenta? <a href="/login">Iniciar sesión</a> </p>
			 		</form>
			 	</div>
			 </div>
		</div>
	</section>

	<script>
		const forgotPasswordForm = document.getElementById("forgotPasswordForm");

		function replaceLastNumber(url, newNumber) {
		 	var regex = /\d+\/?$/;

		 	var nuevaURL = url.replace(regex, newNumber);

			return nuevaURL + '/';
		}

		// Example usage:
		// var originalUrl = 'http://127.567854.0.1:8000/forgot-password/0/';
		//var newNumber = 5;
		//var newUrl = replaceLastNumber(originalUrl, newNumber);
		//console.log(newUrl); // Output: http://127.567854.0.1:8000/forgot-password/5/


		forgotPasswordForm.addEventListener("submit", function(event){
			event.preventDefault();

			forgotPasswordForm.action = replaceLastNumber(forgotPasswordForm.action, forgotPasswordForm.resetcode.value);
			// console.log(forgotPasswordForm.action);
			console.log(forgotPasswordForm.submit());
		});
	</script>
	
</body>
</html>