{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/panel.css' %}" />
	<title>Página principal</title>
</head>
<body>
	<input type="checkbox" class="checkbox" id="check">
	<label class="menu"	for="check">|||</label>
	<div class="left-panel">
		<ul>
			<a href="{% url 'index' site='air-noise' %}"><li>Aire y ruído</li></a>
			<a href="{% url 'index' site='water' %}"><li>Agua</li></a>
            <a href="{% url 'index' site='waste' %}"><li>Residuos</li></a>
            <a href="{% url 'index' site='recnat-risks' %}"><li>RECNAT y riesgos</li></a>
            <a href="{% url 'index' site='others' %}"><li>Otros</li></a>
			<a href="{% url 'index' site='advance' %}"><li>Avance</li></a>
		</ul>
	</div>
    <main id="content">
        {% block content %}{% endblock content %}
    </main>

    <footer> <p> Copyright &copy; Monica Mendoza. All Right reserved.</p></footer>
</body>
</html>