{% extends "index/indexbase.html" %} {% load static %} {% block content_head %}
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

<link
  href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
  rel="stylesheet"
/>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

<script src="{% static 'js/adminusers.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/panel.css' %}" />
<link rel="stylesheet" href="{% static 'css/options.css' %}" />
<link rel="stylesheet" href="{% static 'css/adminusers.css' %}" />

{% endblock content_head%} {% load static %} {% block content %}

<script>
  let loaderDiv = document.querySelector("div.loader-div");
  loaderDiv.style.display = "none";
</script>

{% if currentUser.isStaff %}
<div class="top-bar">
  <button class="add-button" onclick="newUser()">Agregar</button>
</div>
{% endif %}

<div class="users-list-container">
  <div class="flex-container">
    {% for user in usersList %}
    <button class="button-select-user" onclick='selectUser(event, { "id": "{{ user.id }}" })' id="user-card-{{ user.id}}">
      <div class="user-card">
        <div class="user-image-div">
          <img
            src="{% static 'alejandro.jpeg' %}"
            alt="User Image"
            class="user-image"
          />
        </div>
        <div class="user-info">
          <h3 class="user-name">{{ user.username }}</h3>
          <p class="user-lastname">{{ user.email }}</p>
        </div>
      </div>
    </button>
    {% endfor %}
  </div>
  {% comment %} Pablo's div {% endcomment %}
  <div class="main-content-user">

    <div class="container-form__group">
      <div class="form__group field">
        <input
          type="input"
          class="form__field"
          placeholder="Name"
          name="name"
          id="name"
          required
        />
        <label for="name" class="form__label">Name</label>
      </div>

      <div class="form__group field">
        <input
          type="input"
          class="form__field"
          placeholder="Lastname"
          name="lastname"
          id="lastname"
          required
        />
        <label for="lastname" class="form__label">Lastname</label>
      </div>

      <div class="form__group field">
        <input
          type="input"
          class="form__field"
          placeholder="Email"
          name="email"
          id="email"
          required
        />
        <label for="email" class="form__label">Email</label>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
