{% extends "index/indexbase.html" %}
{% load static %}
{% block content_head %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/cartamaterial.css' %}" />
    <link rel="stylesheet" href="{% static 'css/panel.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style3.css' %}" />
{% endblock content_head%}


{% load static %}
{% block content %}
    <h2>{{ category }}</h2>
    <section class="form-section">
        <div class="box">
            <div class="container">
                <div class="form">
                    <div class="contenedor_carta_materiales">
                        <div class="select-menu">
                            <div class="select-btn">
                                <span class="sBtn-text">Select your option</span>
                                <i class="bx bx-chevron-down"></i>
                            </div>
                    
                            <ul class="options">
                                
                                {% for material, values in book.items %}
                                    <li class="option">
                                        <!-- <i class="bx bxl-github" style="color: #171515;"></i> -->
                                        <span class="option-text">{{ material }}</span>
                                    </li>
                                
                                {% endfor %}
                            </ul>
                        </div>

                        <select class="selector_documentos" name="select">

                        </select>

                        <div class="contenedor_izq_der">
                            <div class="cont_izquierda">
                                <img class="material_imagen" src="{% static imgmaterial %}">
                                <div class="botones_material">
                                    <button class="boton_cargar">Cargar</button>
                                    <button class="boton_ver">Ver</button>
                                </div>
                            </div>

                            <div class="cont_derecha">
                                <div>
                                    <ion-icon name="cloud-outline"></ion-icon>
                                    <i class="fa-solid fa-house-chimney-crack"></i>
                                </div>
                                <textarea id="texto_material" name="" rows="4" cols="40"> </textarea>
                            </div>
                        </div>
                        <span class="materiales_nota">
                            <p>Nota: Recuerde subir los documentos</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/des.js' %}"></script>
{% endblock content %}