{% extends "index/indexbase.html" %}
{% load static %}
{% block content_head %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="{% static 'css/cartamaterial.css' %}" />
<link rel="stylesheet" href="{% static 'css/panel.css' %}" />
<link rel="stylesheet" href="{% static 'css/options.css' %}" />
{% endblock content_head%}


{% load static %}
{% block content %}
<!-- <h2>{{ category }}</h2> -->
<div class="wrapper">
  <div class="select-btn">
    <span>Categoría</span>
    <i class="uil uil-angle-down"></i>
  </div>
  <div class="content">
    <div class="search">
      <i class="uil uil-search"></i>
      <input spellcheck="false" type="text" placeholder="Search">
    </div>
    <ul class="options"></ul>
  </div>
</div>

<div class="name_document wrapper">
  <div class="select-btn">
    <span>DOCUMENTO</span>
    <i class="uil uil-angle-down"></i>
  </div>
  <div class="content">
    <div class="search">
      <i class="uil uil-search"></i>
      <input spellcheck="false" type="text" placeholder="Search">
    </div>
    <ul class="options"></ul>
  </div>
</div>

<table class="wrapper">
  <thead>
    <tr>
      <th>Avance de la entrega</th>
      <th>Null</th>
    </tr>
  </thead>

  <tr>
    <td>Fecha de la entrega</td>
    <td>Null</td>
  </tr>
  <tr>
    <td>Nivel de desempeño ambiental</td>
    <td>Null</td>
  </tr>
  <tr>
    <td>Indispensable subir en la nube</td>
    <td>Null</td>
  </tr>
  <tr>
    <td>Comentarios</td>
    <td>Null</td>
  </tr>
</table>

{% endblock content %}