{% load static %}
<!DOCTYPE html>
<!-- YouTube or Website - CodingLab -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar Menu for Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/vistaprueba.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tabla.css' %}" />
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}" />
    {% block content_head %}{% endblock content_head %}

    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  </head>

  <body>
    <script>
      let sectionName = "{{category}}";
    </script>

    <nav class="sidebar">

      <p class="logo">{{ currentUser.name }}</p>

      {% if currentUser.isStaff and sheet != "admin-users" %}
        <div class="users-list-container">
          <select id="users-list">
            {% for user in usersList %}
              <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
          </select>
        </div>
      {% endif %}


      <div class="menu-content">
        <div class="options__menu">	

          <a href="{% url 'index' site='air-noise' %}" {% if category == 'air-noise' %} class='selected'  {% endif %}>
                <div class="option">
       
                    <i class="fa-solid fa-wind" title="Aire y ruído"></i>
                    <h4>Aire y ruído</h4>
                </div>
            </a>

            <a href="{% url 'index' site='water' %}" {% if category == 'water' %} class='selected'  {% endif %} >
              <div class="option">
                  <i class="fa-solid fa-water" title="Agua"></i>
                  <h4>Agua</h4>
              </div>
          </a>

          <a href="{% url 'index' site='waste' %}" {% if category == 'waste' %} class='selected'  {% endif %}>
            <div class="option">
               
                <i class="fa-solid fa-dumpster" title="Residuos"></i>
                <h4>Residuos</h4>
            </div>
        </a>

        <a href="{% url 'index' site='recnat-risks' %}" {% if category == 'recnat-risks' %} class='selected'  {% endif %}>
          <div class="option">
              
              <i class="fa-solid fa-tree" title="Recursos naturales y riesgo"></i>
              <h4>Recursos naturales y riesgo</h4>
          </div>
      </a>

      <a href="{% url 'index' site='others' %}" {% if category == 'others' %} class='selected'  {% endif %}>
        <div class="option">
            
            <i class="fa-solid fa-certificate" title="Otros"></i>
            <h4>Otros</h4>
        </div>
    </a>

    <a href="{% url 'index' site='advance' %}" {% if category == 'advance' %} class='selected'  {% endif %}>
      <div class="option">
         
          <i class="fa-solid fa-chart-simple" title="Avance"></i>
          <h4>Avance</h4>
      </div>
  </a>

  {% if currentUser.isStaff %}
    <a href="{% url 'admin_users' %}">
      <div class="option">       
          <i class="fa-solid fa-user-tie" title="Usuarios"></i>
          <h4>Usuarios</h4>
      </div>
    </a>
  {% endif %}

  <a href="{% url 'logout' %}">
    <div class="option">
       
        <i class="fa fa-sign-out" title="Salir"></i>
        <h4>Salir</h4>
    </div>
  </a>
        </div>
      </div>
    </nav>

    <nav class="navbar">
      <i class="fa-solid fa-xmark" id="sidebar-close"></i>
    </nav>

    <main class="main">
      <div class="loader-div">
        <div class="loader"></div>
      </div>
      {% block content %}{% endblock content %}
    </main>

    {% if category %}
      <script src="{% static 'js/indexlogic.js' %}"></script>
    {% endif %}
  </body>
</html>



