.top-bar {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-user-button,
.cancel-add-user-button,
.update-button,
.delete-button,
.add-button,
.button-select-user {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.add-user-button:hover,
.cancel-add-user-button:hover,
.update-button:hover,
.delete-button:hover,
.add-button:hover,
.button-select-user:hover {
  background-color: #f7fafa;
}

.add-user-button:focus,
.cancel-add-user-button:focus,
.update-button:focus,
.delete-button:focus,
.add-button:focus,
.button-select-user:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.right-side, .right-side-new-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 5px;

  height: 88vh;
  width: 20%;
  overflow-y: auto;
  scrollbar-color: #f1f2f5 #c9cdda;
}

.flex-container::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.flex-container::-webkit-scrollbar-thumb { /* Foreground */
  background: #8ad3e9;
}
.flex-container::-webkit-scrollbar-track { /* Background */
  background: #a1d4bb;
}

.user-card {
  background-color: transparent;
}

.user-image-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  gap: 10px;
}

.button-select-user {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  width: 100%;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.users-list-container {
	display: flex;
  justify-content: flex-start;
  width: 100%;
}

.userfields-div {
  display: flex;
  width: 100%;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}


.main-content-user {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: transparent;
  width: 88%;
  height: 100%;
}


.container-form__group {
  width: 500px;
  display: none;
}

/* Custom Input */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #141313;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}


.form__label {
  /* width: 500px; */
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
