/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
	font-family: roboto;
}

.select-menu {
    width: 380px;
    margin: 10px auto;
}

.select-menu .select-btn {
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu.active .options {
    display: block;
    position: fixed;
    width: 380px;
    max-height: 400px;
    z-index: 2;
    overflow-y: scroll;
}


.options .option {
    display: flex;
    /* height: 50px; */
    cursor: pointer;
    padding: 0 13px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
    border-bottom: solid 2px gray;
}

.modal {
  display: none;
  position: fixed;
  z-index: 30;
  min-width: 300px;
  min-height: 300px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  background: #e7f2fd;
  padding: 10px;
}

.modal-head {
    display: flex;
    justify-content: end;
}

.modal-head button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.modal-head button:hover {
    opacity: 0.1;
}

form {
    min-height: 250px;
}
.form-container {
    min-height: 250px;
}

.form-container-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 190px;
    /* height: 100%; */
    align-items: center;
    flex-direction: column;
}

.form-container-footer button,  .form-container-top input{
    padding: 5px;
    margin-top: 50px;   
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;      
}

.form-container-footer button:hover, .form-container-top input:hover {
    background-color: #F2F2F2;
}

.form-container-footer {
    display: flex;
    justify-content: end;
    flex-direction: row;
}
.options .option:hover {
    background: #F2F2F2;
}

.option i {
    font-size: 20px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 14px;
    color: #333;
}

.select-menu-hidden {
    display: none;
}