body {
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    background: linear-gradient(0.25turn, #3f87a6, #f69d3c);
    font-family: roboto;
}


#registerheader {
    height: 130px;
    width: 150px;
    background-color: transparent;
    align-items: center;
    align-self: center;
}

#registerbody
{
    
}

#welcome{
    background-color: transparent;
    text-align: center;
    align-items: center;
}
#estamos
{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

#form-title {
    padding: 0.5px;
    text-align: center;
    margin: 0px;
    background-color: #E3E6F2;
}

#register{
    color: gray;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

form {
  
    height: 210px;
    width: 230px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;   
    font-family: "Roboto", sans-serif;
    font-size: 11px;
}
#form-buttom {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
#form-container {
    margin: 0px;
    background-color: whitesmoke;
    
}

#email{
   width: 100%;
}

#password{
    width: 100%;
}

main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
}

#top-container {
    background-color: transparent;
}

.datadiv {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
}

#foother {
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

#rememberdiv {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#aforgot {
    font-size: 10px;
    margin: 25px 0px;
    color: #78797A;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#aforgot:hover {
    color:blue;
    text-decoration: underline;
}

#notaccount {
    margin: 15px 0px;
    color: white;
    text-decoration: none;
}

#notaccount:hover {
    color: #E3E6F2;
    text-decoration: underline;
}

#formbtn {
    width: 100%;
    height: 44px;
    border-radius: 5px;
    color: white;
    background-color: #7197C2;
    border: solid #7197C2 3px;
    padding: 10px 50px;   
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.lastbtn {
    border-radius: 30px;
    color: white;
    text-align: center;
    background-color: transparent;
    border: solid white 3px;
    padding: 10px 50px;
}